<% include ../_layout/head.ejs %>

<script type="text/javascript">
	
	function doInsert()
	{
		document.userPanel.action = "/L050D020/insert";
		document.userPanel.submit();
	}
	function doSetDcId()
	{
		document.userPanel.action = "/L050D020/add";
		document.userPanel.submit();
	}
</script>
		
<form name="userPanel" method='post'> 
			
	<!--  =========================================================================   -->
	
	<table class="default" width="100%" style="vertical-align:top;" border="0" cellspacing="0" cellpadding="0" >
		<colgroup>
			<col width="100" />
			<col width="" />		
		</colgroup>
		<tr style="height:28px;">
			<td class='default tbc_lv1 p_l20' style="text-align:left;border-right:none" >
				<span class="view-title">  
					<SCRIPT language=JavaScript> getMenuName("L050D020"); </SCRIPT> 
				</span>
			</td> 
			<td> </td>
		</tr>
		
		
		<!--  =========================================================================   -->
	
		<tr style="height:30px"> <td width="850px" colspan="3">
				
				<table width="100%" > 
					<colgroup>	
						<col width="70" />			
						<col width="300" />
						<col width="200" />	
						<col width="" />
					</colgroup> 		
					<tr> 
						<td>  </td> 
						<td>  
							<label for="dc_id"> <span class="listSelLabel"> 교재 범위 :  </span> </label>
							<select name="dc_id" id="dc_id" class="mainCategorySel" onchange="doSetDcId();"  style="width:100pt;color:gray;"  > 
								<%-genSelCategoryMain(dc_id, mainCategories)%>
							</select> 
						</td> 
						
						<td >  </td>
					</tr>
					
				</table>
				
			</td>
		</tr>
	</table>
	
	
	<!--  =========================================================================   -->
	<% 	var sWidth = "600px"; %>
	<table class="default" >
		<tr><td width="<%=sWidth %>">
			
			
			<table width="<%=sWidth %>" border="0" cellspacing="0" cellpadding="0" >
				<colgroup>
					<col width="30" /> 
					<col width="60" /> 
					<col width="40" /> 
					<col width="300" />
					<col width="" />
					<col width="100" /> 
				</colgroup>
				<tr>
					<td class='table-col-header' >NO</td>
					<td class='table-col-header' style="BORDER-LEFT: #B4B4B4 1px solid;">형식 </td> 	
					<td class='table-col-header' style="BORDER-LEFT: #B4B4B4 1px solid;">선택 </td> 								
					<td class='table-col-header' style="BORDER-LEFT: #B4B4B4 1px solid;">질문 내용</td> 	
					<td class='table-col-header' style="BORDER-LEFT: #B4B4B4 1px solid;">난이도</td>
					<td class='table-col-header' style="BORDER-LEFT: #B4B4B4 1px solid;">최종수정일</td>
					<td> </td>
				</tr>
				
				<%
				
				for (i in vList)	{
											
				%>			
				<tr class="table-cell">
					<td class='table-cell-left1'  style="text-align:center"  > <%=(parseInt(i)+1)%></td>
					<td class='table-cell2'  style="text-align:center" > <%-getMenuQuestName(vList[i].qi_question_type)%> </td>
					<td class='table-cell1'  style="text-align:center" > 
						<input type="checkbox" id="<%=vList[i].qi_id%>" name="qi_id" value="<%=vList[i].qi_id%>">
					</td>
					<td class='table-cell2'  style="text-align:left" > 
						<%-vList[i].qi_questionnarie%>
					</td>
					<td class='table-cell1'  style="text-align:center" > <%-getMenuDifficultyName(vList[i].qi_difficulty)%> </td>
					<td class='table-cell-right1'  style="text-align:center">  <%=vList[i].qi_update %>   </td>
				</tr>
				<%	} %>
			</table>
			<input name ="ts_id" type="hidden"  value="<%=ts_id%>" >
		</td></tr>
		<tr>
		<td height="40px">
			&nbsp;
			<input type="button"
			  value="문항추가"
			  style=""
			  onclick="doInsert();" />
			
		</td>
		</tr>
	</table>
</form>


<% include ../_layout/foot.ejs %>
