<% include ../_layout/head.ejs %>

<script>

	function doGetAnswer()
	{
		document.userPanel.action = "/L040D020/answer";
		document.userPanel.submit();
	}
	
	function goBackStudy(dc_id)
	{
		document.location = "/L040D010";
	}
	
	function goBackList()
	{
		document.location = "/L040D020/list";
	}
	
</script>	

<table width="100%"  height="100%" border="0" cellspacing="0" cellpadding="0" > 
	<tr > 
		<td style="width:100%;height:30px" colspan=2>
			<span class="view-title">  
				<SCRIPT language=JavaScript> getMenuName("L040D020"); </SCRIPT> 
			</span>
		</td>
	</tr>
	
	<tr>
		<td style="width:5px">
			
		</td>
		<td style="vertical-align:top;" >
			<!---------------  USER-PANEL --------------------->
			<form name="userPanel" method='post' > 
				
				<table style="width:660px;font-size:16px;border: 1px solid black;padding-left:20pt;"  border="0"  cellspacing="0" cellpadding="0" >
					<tr> 
						<td height="50px" >
							<span class="questSelLabel"  >
						 		&nbsp;문제풀이를 통한 내용 이해&nbsp; [<%=getCategoryNameByDCID(dc_id, mainCategories) %> ] 
						 	</span>
						</td>
					</tr>
										
					<tr>
					<td >
						<input name ="tt_id" type="hidden" value="<%=tt_id %>" />
						<input name ="ts_id" type="hidden" value="<%=ts_id %>" />
						<input name ="dc_id" type="hidden" value="<%=dc_id %>" />
						<input name ="qi_list" type="hidden" value="<%=qi_list %>" />
							
						<!-- /////////////////////////////////////// -->
					<%	
						var iWidth = 600; 
						var sWidth = iWidth+"px";
						var rightGray = "#C8BCBC";
					
						for(i in vItem) {
					%>
						<table width="<%=sWidth %>" border="0" cellspacing="0" cellpadding="0" >
						<colgroup>
							<col width="30px" /> 
							<col width="100px" /> 
							<col width="" /> 
							<col width="40px" /> 
						</colgroup>
						<tr height="10px"  > 
							<td colspan=4 style="color:black;FONT-WEIGHT: bold"> 
								<input name ="answer_tip<%=vItem[i].qi_id %>" type="hidden" value="<%=vItem[i].qi_answer_tip %>" />
								<input name ="question_type<%=vItem[i].qi_id %>" type="hidden" value="<%=vItem[i].qi_question_type %>" />
								<input name ="total_choice_count<%=vItem[i].qi_id %>" type="hidden" value="<%=vItem[i].qi_total_choice_count %>" />
								<input name ="questionnarie<%=vItem[i].qi_id %>" type="hidden" value="<%=vItem[i].qi_questionnarie %>" />
							</td>
						</tr>
						<tr height="20px">
							<td>  </td>
							<td colspan=3> 
								<table style="width:100%;" border=0 cellspacing="0" cellpadding="0">
									<tr> 
										<td style="color:#666666;FONT-WEIGHT: bold">
											 <%=parseInt(i)+1%>. 질문_
											 
										</td> 
									</tr>
								</table>
							 </td>
						</tr>	
						<tr > 
							<td>  </td>
							<td colspan=3 >  
								<table style="width:100%;background-color:#FAF9FA;padding-bottom: 5pt;border: 0.5px solid <%=rightGray %>;" border=0 cellspacing="0" cellpadding="0">
									<tr> 
										<td style="color:black;padding:7px;">
											 <%-vItem[i].qi_questionnarie.replace(/\r\n/g,'<br/>') %> 
										</td> 
									</tr>
								</table>
					
							</td>
						</tr>
						<tr height="5px" > 
							<td colspan=4  >  </td>
						</tr>
					<%
						if(vItem[i].qi_question_type == 'MC') 
						{
							for(j in vItem[i].vList){
					%>
						<!-- 객관식 옵션 -->
						<tr style="height:30px">
							<td> </td>
							<td> 
								<input name ="my_answer<%=vItem[i].qi_id %>" <%=((parseInt(i)+1)==parseInt(vItem[i].my_answer))?"checked":"" %> 
									   type="radio" value="<%=parseInt(j)+1 %>"  /> 
								<label> 보기 <%=parseInt(j)+1 %> </label>
							</td>
							<td colspan=2> 
								<input name ="option_contents<%=vItem.qi_id%>_<%=j %>" type="text"  class="textDisable"  readonly 
								style="width:<%=iWidth-50-50 %>px;height:25px;border: 0.5px solid #C8BCBC;border-radius: 5px;padding-left:5px" 
								title="정답인 경우 체크하세요"
								value="<%-vItem[i].vList[j].cs_option_contents%>" />
							</td>
						</tr>
					<%			}
						}//if-end MC
						else {
					%>
						<tr> 
							<td> </td>
							<td colspan=3>
				 				<textarea	name ="my_answer<%=vItem[i].qi_id %>" 
				 				id ="my_answer<%=vItem[i].qi_id %>" title="질문에 대한 답을 입력하세요" 
				 				style="width:100%;height:120px;text-align:left;padding-left:5px" 
				 				rows="12" cols="100"  
				 				wrap="logical" spellcheck="false"
				 				class="text"><%-vItem[i].my_answer%></textarea>
				 			</td>
				 		</tr>
				 		<tr> 
							<td height="10px" colspan=4 style="color:black;FONT-WEIGHT: bold"> </td>
						</tr>
				 	<%
				 		}//else-end
				 	%>
				 	
				 	<%
			 			if(vOption=='answer') 
			 			{
			 				var yourResult, yourColor, yourResultPlus="";
							yourResult	= (vItem[i].isCorrect)?"정답":"오답";
							yourColor	= (vItem[i].isCorrect)?"blue":"red";
			 				yourResultPlus = (vItem[i].isCorrect==false && vItem[i].qi_question_type=="MC" )?
								"정답은 "+data.getAnswer()+"번 입니다. ":"";
				 	%>
						<tr> 
							<td height="5px" colspan=4> </td> 
						</tr>
						<tr>
							<td> </td>
							<td colspan=3 >
								<table  style="width:<%=iWidth-45%>px;border: 0.5px solid #C8BCBC;border-radius: 5px;padding:5px;BACKGROUND-COLOR:#F3EFEF;" >
									<tr> <td >
										<span style="color:<%=yourColor %>;"><%=yourResult %></span>
										<br> <span style="color:black;"> Tip: <%=yourResultPlus %><%=vItem[i].qi_answer_tip %></span>
									</td> </tr>
								</table>
							</td>
						</tr>
			
							
					<%
				 		}//if-end vOPtion
				 	%>
				 		<tr> 
							<td height="20px" colspan=4> </td> 
						</tr>
					 						
						</table>
					<%
						}//for_end vItem
					%>
						<!-- ////////////////////////////////-->
						
					</td>
				
					</tr>
					
					
				</table>
				
				<table>
					<tr>
						<td width="50px"> </td>
						<td height="40px">
							
								 <input type="button" onclick="doAdd(<%=ts_id%>);" value="문항추가"   />
							 
						</td>
					</tr>
				</table>		
			
								
			</form>
			
		</td>
	</tr>
</table>	



<% include ../_layout/foot.ejs %>